<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>采桑子 重阳</key>
		<string>人生易老天难老 岁岁重阳 今又重阳 战地黄花分外香
一年一度秋风劲 不似 春光 胜似春光 寥廓江天万里霜</string>
	</dict>
	<dict>
		<key>沁园春 长沙</key>
		<string>作者（毛泽东）：独立寒秋 湘江北去 橘子洲头 看万山红遍 层林尽染
漫江碧透 百舸争流 鱼翔浅底 万类霜天竞自由
怅寥廓 问苍茫大地 谁主沉浮
携来百侣曾游 忆往昔峥嵘岁月稠 恰同学少年 风华正茂
书生意气 挥斥方遒 指点江山 激扬文字 粪土当年万户候
曾记否 到中流击水 浪遏飞舟 </string>
	</dict>
	<dict>
		<key>蜀道难</key>
		<string>噫吁戏，危乎高哉！蜀道之难，难于上青天！蚕丛及鱼凫，开国何茫然。尔来四万八千岁，不与秦塞通人烟。西当太白有鸟道，可以横绝峨眉巅。地崩山摧壮士死，然后天梯石栈相钩连。上有六龙回日之高标，下有冲波逆折之回川。黄鹤之飞尚不得过，猿猱欲度愁攀援。青泥何盘盘，百步九折萦岩峦。扪参历井仰胁息，以手抚膺坐长叹。问君西游何时还，畏途躔岩不可攀。但见悲鸟号古木，雄飞雌从绕林间。又闻子规啼夜月，愁空山，蜀道之难，难于上青天！使人听此凋朱颜。
连峰去天不盈尺，枯松倒挂倚绝壁。飞湍瀑流争喧虺，砰崖转石万壑雷。其险也如此，嗟尔远道之人胡为乎哉！剑阁峥嵘而崔嵬，一夫当关，万夫莫开。
所守或匪亲，化为狼与豺。朝避猛虎，夕避长蛇，磨牙吮血，杀人如麻。锦城虽云乐，不如早还家。蜀道之难，难于上青天！侧身西望长咨嗟。</string>
	</dict>
	<dict>
		<key>山居秋暝</key>
		<string>作者-（王维）：明月松间照，清泉石上流，竹喧归浣女，莲动下渔舟，随意春芳歇，王孙自可留。</string>
	</dict>
	<dict>
		<key>春晓</key>
		<string>春眠不觉晓，处处闻啼鸟，夜来风雨声，花落知多少。--无名</string>
	</dict>
	<dict>
		<key>锄禾</key>
		<string>锄禾日当午，汗滴禾下土，谁知盘中餐，粒粒皆辛苦。</string>
	</dict>
	<dict>
		<key>静夜思</key>
		<string>床前明月光，疑似地上霜，举头望明月，低头思故乡。</string>
	</dict>
	<dict>
		<key>观画</key>
		<string>远看山有色，近听水无声，春去花还在，人来鸟不惊。</string>
	</dict>
	<dict>
		<key>天净沙&gt;秋思</key>
		<string>作者-（马致远）：枯藤老树昏鸦，小桥流水人家，古道西风瘦马，断肠人在天涯。</string>
	</dict>
	<dict>
		<key>泊秦淮</key>
		<string>烟笼寒水月笼沙，夜泊秦淮近酒家，商女不知亡国恨，隔江犹唱后庭花。</string>
	</dict>
	<dict>
		<key>将进酒</key>
		<string>作者-（李白）：君不见，黄河之水天上来，奔流到海不复回。君不见，高堂明镜悲白发，朝如青丝暮成雪。人生得意须尽欢，莫使金樽空对月。天生我材必有用，千金散尽还复来。烹羊宰牛且为乐，会须一饮三百杯。岑夫子，丹丘生，将进酒，杯莫停。与君歌一曲，请君为我倾耳听。钟鼓馔玉不足贵，但愿长醉不复醒。古来圣贤皆寂寞，惟有饮者留其名。陈王昔时宴平乐，斗酒十千恣欢谑。主人何为言少钱，径须沽取对君酌。五花马，千金裘，呼儿将出换美酒，与尔同销万古愁。</string>
	</dict>
	<dict>
		<key>滕王阁序</key>
		<string>作者-（王勃）：豫章故郡，洪都新府。星分翼轸，地接衡庐。襟三江而带五湖，控蛮荆而引瓯越。物华天宝，龙光射牛斗之墟；人杰地灵，徐孺下陈蕃之榻。雄州雾列，俊采星驰。台隍枕夷夏之交，宾主尽东南之美。都督阎公之雅望，棨戟遥临；宇文新州之懿范，襜帷暂驻。十旬休假，胜友如云；千里逢迎，高朋满座。腾蛟起凤，孟学士之词宗；紫电青霜，王将军之武库。家君作宰，路出名区；童子何知，躬逢胜饯。时维九月，序属三秋。潦水尽而寒潭清，烟光凝而暮山紫。俨骖騑于上路，访风景于崇阿。临帝子之长洲，得仙人之旧馆。层峦耸翠，上出重霄；飞阁流丹，下临无地。鹤汀凫渚，穷岛屿之萦回；桂殿兰宫，列冈峦之体势。披绣闼，俯雕甍，山原旷其盈视，川泽纡其骇瞩。闾阎扑地，钟鸣鼎食之家；舸舰迷津，青雀黄龙之舳。云销雨霁，彩彻区明。落霞与孤鹜齐飞，秋水共长天一色。渔舟唱晚，响穷彭蠡之滨，雁阵惊寒，声断衡阳之浦。遥襟甫畅，逸兴遄飞。爽籁发而清风生，纤歌凝而白云遏。睢园绿竹，气凌彭泽之樽；邺水朱华，光照临川之笔。四美具，二难并。穷睇眄于中天，极娱游于暇日。天高地迥，觉宇宙之无穷；兴尽悲来，识盈虚之有数。望长安于日下，目吴会于云间。地势极而南溟深，天柱高而北辰远。关山难越，谁悲失路之人；萍水相逢，尽是他乡之客。怀帝阍而不见，奉宣室以何年？嗟乎！时运不齐，命途多舛。冯唐易老，李广难封。屈贾谊于长沙，非无圣主；窜梁鸿于海曲，岂乏明时？所赖君子安贫，达人知命。老当益壮，宁移白首之心？穷且益坚，不坠青云之志。酌贪泉而觉爽，处涸辙以犹欢。北海虽赊，扶摇可接；东隅已逝，桑榆非晚。孟尝高洁，空余报国之情；阮籍猖狂，岂效穷途之哭！勃，三尺微命，一介书生。无路请缨，等终军之弱冠；有怀投笔，慕宗悫之长风。舍簪笏于百龄，奉晨昏于万里。非谢家之宝树，接孟氏之芳邻。他日趋庭，叨陪鲤对；今兹捧袂，喜托龙门。杨意不逢，抚凌云而自惜；钟期既遇，奏流水以何惭？　呜乎！胜地不常，盛筵难再；兰亭已矣，梓泽丘墟。临别赠言，幸承恩于伟饯；登高作赋，是所望于群公。敢竭鄙怀，恭疏短引；一言均赋，四韵俱成。请洒潘江，各倾陆海云尔：滕王高阁临江渚，佩玉鸣鸾罢歌舞。画栋朝飞南浦云，珠帘暮卷西山雨。闲云潭影日悠悠，物换星移几度秋。阁中帝子今何在？槛外长江空自流。</string>
	</dict>
	<dict>
		<key>沁园春 雪</key>
		<string>北国风光 千里冰封 万里雪飘 望长城内外 惟余莽莽
大河上下 顿失滔滔 山舞银蛇 原驰蜡象 欲与天公试比高
须晴日 看红装素裹 分外妖娆 江山如此多妖 引无数英雄竞折腰
惜秦皇汉武 略输文采 唐宗宋祖 稍逊风骚 一代天骄 成吉思汗
只识弯弓射大雕 俱往矣 数风流人物 还看今朝</string>
	</dict>
</array>
</plist>
